{% extends "base.html" %}
{% block WEB_CSS %}
    {% include "css.html" %}
    <link href="/static/APP_web/APP_network_detect/task/css/index.css" rel="stylesheet" />
{% endblock %}


{% block WEB_MAIN %}
    <div class="row wrapper border-bottom white-bg page-heading">
     <div class="col-lg-12 col-md-12 col-sm-12">
      <h2>探测任务管理</h2>
      <ol class="breadcrumb">
       <li> <a href="index.html">主页</a> </li>
       <li class="active"> <strong>探测任务管理</strong> </li>
      </ol>
     </div>
    </div>
    <div class="wrapper wrapper-content">
     <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-md-12 col-sm-12">
       <div class="ibox float-e-margins">
        <div class="ibox-title">
         <h5>探测任务详情</h5>
         <div class="ibox-tools">
          <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-wrench"></i> </a>
          <ul class="dropdown-menu dropdown-user">
           <li><a onclick="$('#myModal0').modal('show');">新增探测任务</a> </li>
          </ul>
          <a class="close-link"> <i class="fa fa-times"></i> </a>
         </div>
        </div>
        <div class="ibox-content">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
           <div class="ibox float-e-margins">
            <div class="ibox-title no-borders no-padding ">
             <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
              <div class="input-group pull-left">
               <input placeholder="Search" class="input-sm form-control" type="text" id="task_table_search_input"/>
               <span class="input-group-btn"> <button type="button" class="btn btn-sm btn-primary" id="task_table_search"> Go!</button> </span>
              </div>
             </div>
             <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                 <div class="col-lg-3 col-md-3 col-sm-3 no-padding"></div>
                 <div class="col-lg-9 col-md-9 col-sm-9 no-padding">
                 <select id="task_handle" class="chosen-select" style="width:100%;" tabindex="2"> <option value=""> 批量操作</option> <option value="del">删除</option> </select>
                 </div>
             </div>
             <div class="col-lg-3 col-md-3 col-sm-3 no-padding">
              <div class="ibox-tools">
              </div>
             </div>
            </div>
            <div class="ibox-content no-padding" style="display: none">
            </div>
           </div>
          </div>
         </div>
        <div class="ibox float-e-margins">
         <div class="ibox-title no-borders">
          <div class="col-lg-12 col-md-12 col-sm-12">
           <div class="ibox-tools">
            <a class="collapse-link"> <i class="fa fa-chevron-down"> 显示&隐藏列</i> </a>
           </div>
          </div>
         </div>
        <div class="ibox-content" style="display: none">
            <label> <input type="checkbox" checked="" class="i-checks check-column" data-column="1" /> 任务名 </label>
            <label> <input type="checkbox" checked="" class="i-checks check-column" data-column="2" /> 英文名 </label>
            <label> <input type="checkbox" checked="" class="i-checks check-column" data-column="3" /> 探测类型 </label>
            <label> <input type="checkbox" checked="" class="i-checks check-column" data-column="4" /> 操作列表 </label>
        </div>
        </div>
        <div class="row">
          <div class="table-responsive">
           <table class="table table-hover" id="editable_task">
            <thead>
             <tr>
              <th><input type="checkbox" class="i-checks checkall" name="input[]"/></th>
              <th>任务名 </th>
              <th>英文名</th>
              <th>探测类型 </th>
              <th>操作列表 </th>
             </tr>
            </thead>
            <tbody>
            {% for r in LIST_TASK %}
            <tr>
              <td><input type="checkbox" class="i-checks checkchild" name="input[]"  value="{{ r.id }}"/></td>
              <td>{{ r.desc }}</td>
              <td>{{ r.name }}</td>
              <td>{{ r.type }}</td>
              <td><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModa{{ r.id }}" onclick="query_task({{ r.id }})">详情</button></td>
            </tr>
            {% endfor %}
            </tbody>
           <script src="/static/APP_web/APP_network_detect/task/js/query.js"></script>
           </table>
             <div class="modal inmodal white-bg" id="myModal0" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog  no-padding width-auto margin-auto">
                  <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title">新增探测任务</h4>
                    </div>
                  <div class="modal-body  no-padding">
                    <div class="ibox float-e-margins">
                  <div class="ibox-title">
                    <h5>编辑探测任务 <small></small> </h5>
                    <div class="ibox-tools">
                     <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
                     <a class="close-link"> <i class="fa fa-times"></i> </a>
                    </div>
                   </div>
                   <div class="ibox-content">
                     <div class="raw">
                       <form role="form" id="form1">
                        <div class="ibox float-e-margins">
                          <div class="ibox-title">
                           <h5>基本信息 <small></small> </h5>
                           <div class="ibox-tools">
                            <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
                            <a class="close-link"> <i class="fa fa-times"></i> </a>
                           </div>
                          </div>
                          <div class="ibox-content">
                            <div class="form-group" style="display:none" id="div_task_id">
                             <label><span class="red-content">* </span>任务id</label>
                             <input type="text" placeholder="必须包含中文" class="form-control" id="task_id" />
                            </div>
                            <div class="form-group">
                             <label><span class="red-content">* </span>中文名称</label>
                             <input type="text" placeholder="必须包含中文" class="form-control" id="task_desc" />
                            </div>
                            <div class="form-group">
                             <label><span class="red-content">* </span>英文名称</label>
                             <input type="text" placeholder="只允许出现大写字母、小写字母、下划线，必须字母开头" class="form-control"  id="task_name"/>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="ibox float-e-margins">
                            <div class="ibox-title">
                             <h5>Ping探测 <small></small> </h5>
                             <div class="ibox-tools">
                              <input type="checkbox" id="switch_ping" checked />
                              <a class="collapse-link" id="collapse_link_ping"> <i class="fa fa-chevron-up"></i> </a>
                              <a class="close-link"> <i class="fa fa-times"></i> </a>
                             </div>
                            </div>
                            <div class="ibox-content">
                              <div class="raw" id="add_input_parameter_content">
                              </div>
                              <div class="raw">
                                <div class="form-group">
                                  <p class="font-bold">
                                    <span class="red-content">* </span><label>探测周期</label><small> -- 单位(秒钟)</small>
                                  </p>
                                  <input class="touchspin" type="text" value="60" id="ping_detect_steps">
                                </div>
                                <div class="form-group">
                                  <p class="font-bold">
                                    <span class="red-content">* </span><label>ping包数目</label>
                                  </p>
                                  <input class="touchspin" type="text" value="10" id="ping_detect_num">
                                </div>
                                <div class="form-group">
                                  <p class="font-bold">
                                    <span class="red-content">* </span><label>ping包时间间隔</label><small> -- 单位(秒钟)</small>
                                  </p>
                                  <input class="touchspin" type="text" value="0.1" id="ping_detect_interval">
                                </div>
                                <div class="form-group">
                                  <p class="font-bold">
                                    <span class="red-content">* </span><label>ping包超时时间</label><small> -- 单位(秒钟)</small>
                                  </p>
                                  <input class="touchspin" type="text" value="1" id="ping_detect_timeout">
                                </div>
                                <div class="form-group">
                                  <p class="font-bold">
                                    <span class="red-content">* </span><label>ping包大小</label><small> -- 单位(Bytes)</small>
                                  </p>
                                  <input class="touchspin" type="text" value="64" id="ping_detect_size">
                                </div>
                              </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="ibox float-e-margins">
                            <div class="ibox-title">
                             <h5>Traceroute探测 <small></small> </h5>
                             <div class="ibox-tools">
                              <input type="checkbox" id="switch_traceroute" checked />
                              <a class="collapse-link" id="collapse_link_traceroute"> <i class="fa fa-chevron-up"></i> </a>
                              <a class="close-link"> <i class="fa fa-times"></i> </a>
                             </div>
                            </div>
                            <div class="ibox-content">
                              <div class="form-group">
                                  <p class="font-bold">
                                    <span class="red-content">* </span><label>探测周期</label><small> -- 单位(秒钟)</small>
                                  </p>
                                  <input class="touchspin" type="text" value="60" id="traceroute_detect_steps">
                              </div>
                              <div class="form-group">
                                  <p class="font-bold">
                                    <span class="red-content">* </span><label>traceroute查询包数量</label>
                                  </p>
                                  <input class="touchspin" type="text" value="1" id="traceroute_detect_num">
                              </div>
                              <div class="form-group">
                                  <p class="font-bold">
                                    <span class="red-content">* </span><label>traceroute查询包超时时间</label><small> -- 单位(秒钟)</small>
                                  </p>
                                  <input class="touchspin" type="text" value="1" id="traceroute_detect_timeout">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="ibox float-e-margins">
                            <div class="ibox-title">
                             <h5>Curl探测 <small></small> </h5>
                             <div class="ibox-tools">
                              <input type="checkbox" id="switch_curl" checked />
                              <a class="collapse-link" id="collapse_link_curl"> <i class="fa fa-chevron-up"></i> </a>
                              <a class="close-link"> <i class="fa fa-times"></i> </a>
                             </div>
                            </div>
                            <div class="ibox-content">
                              <div class="form-group">
                                  <p class="font-bold">
                                    <span class="red-content">* </span><label>探测周期</label><small> -- 单位(秒钟)</small>
                                  </p>
                                  <input class="touchspin" type="text" value="300" id="curl_detect_steps">
                              </div>
                              <div class="form-group">
                                  <p class="font-bold">
                                    <span class="red-content">* </span><label>dns解析超时时间</label><small> -- 单位(秒钟)</small>
                                  </p>
                                  <input class="touchspin" type="text" value="3" id="curl_detect_timeout_dns">
                              </div>
                              <div class="form-group">
                                  <p class="font-bold">
                                    <span class="red-content">* </span><label>curl建连超时时间</label><small> -- 单位(秒钟)</small>
                                  </p>
                                  <input class="touchspin" type="text" value="3" id="curl_detect_timeout_conn">
                              </div>
                              <div class="form-group">
                                  <p class="font-bold">
                                    <span class="red-content">* </span><label>curl超时时间</label><small> -- 单位(秒钟)</small>
                                  </p>
                                  <input class="touchspin" type="text" value="300" id="curl_detect_timeout_total">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="ibox float-e-margins">
                            <div class="ibox-title">
                             <h5>探测网络 <small></small> </h5>
                             <div class="ibox-tools">
                              <a class="collapse-link" id="collapse_link_curl"> <i class="fa fa-chevron-up"></i> </a>
                              <a class="close-link"> <i class="fa fa-times"></i> </a>
                             </div>
                            </div>
                            <div class="ibox-content">
                              <div class="form-group">
                                  <div class="row">
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-md-4 col-sm-4 pull-left">
                                      <select class="chosen-select width-auto"  tabindex="2"  id="task_source">
                                        <option value=""> 选择探测源</option>
                                        {% for p in LIST_ROLE %}
                                            <option value="{{ p.id }}"> {{ p.name }}</option>
                                        {% endfor %}
                                        </select>
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-6 col-md-6 col-sm-6 pull-left">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-md-6 col-sm-6 pull-left">
                                          <select class="chosen-select width-auto"  tabindex="2"  id="task_target">
                                            <option value=""> 选择探测目标</option>
                                            {% for p in LIST_ROLE %}
                                                <option value="{{ p.id }}"> {{ p.name }}</option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-md-6 col-sm-6 pull-left">
                                          <div class="col-lg-2 col-md-2 col-sm-2 col-md-2 col-sm-2 pull-left no-padding">
                                             <label><span class="red-content">* </span>探测Uri</label>
                                          </div>
                                          <div class="col-lg-10 col-md-10 col-sm-10 col-md-10 col-sm-10 pull-left no-padding">
                                             <input type="text" placeholder="/test?testargs=1" class="form-control" id="task_uri" />
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-lg-2 col-md-2 col-sm-2 col-md-2 col-sm-2">
                                            <button type="button" class="btn btn-primary" onclick="network_detect_task_add_single()"> 添加到探测网络</button>
                                            <button type="button" class="btn btn-danger" onclick="network_detect_task_del_single()"> 删除</button>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div id="echarts_detect_network"></div>
                                  </div>
                                  <div class="row" style="margin-top:30px">
                                      <table class="table table-hover" id="detect_tasks"></table>
                                  </div>
                              </div>

                            </div>
                          </div>
                        </div>
                       </form>
                     </div>
                   </div>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">保存</button>
                    <br><br><br>
                  </div>
                  <div class="raw"></div>
                  <script>
                      var list_geo = [
                      {% for i in LIST_GEO %}
                          {'province': '{{ i.province }}', 'country': '{{ i.country }}', 'area': '{{ i.area }}', 'city': '{{ i.city }}'},
                      {% endfor %}
                      ];
                  </script>
                  <script src="/static/APP_web/APP_network_detect/task/js/new.js"></script>
                  <script src="/static/APP_web/APP_network_detect/task/js/echarts.js"></script>
                </div>
              </div>
           {% for r in LIST_TASK %}
              <div class="modal inmodal white-bg" id="myModal{{ r.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog no-padding width-auto margin-auto">
                  <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title">任务详情</h4>
                    </div>
                  <div class="modal-body no-padding">
                     {% include 'network_detect/task/query/index.html' %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">保存</button>
                    <br><br><br>
                  </div>
                </div>
              </div>
           {% endfor %}
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    {% endblock %}
    {% block WEB_SCRIPTS %}
        {% include "js.html" %}
        <script src="/static/APP_web/APP_network_detect/task/js/index.js"></script>
    {% endblock %}