<div class="ibox">
    <div class="ibox-title">
        <h5>自动安装</h5>
        <div class="ibox-tools">
            <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#">Config option 1</a>
                </li>
            </ul>
            <a class="close-link"> <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">

    </div>
</div>