{% extends "base.html" %}
{% block WEB_CSS %}
    {% include "css.html" %}
    <link href="/static/APP_web/APP_product_center/css/product_center.css" rel="stylesheet" />
{% endblock %}
{% block WEB_MAIN %}
      <div class="row wrapper-content white-bg">
        <div class="col-lg-2 col-md-3 col-sm-3">
         <div class="ibox">
          <div class="ibox-content product-box">
           <div class="product-imitation padding-50">
             <i class="icon-globe icon-6x green"></i>
           </div>
           <div class="product-desc">
            <span class="product-price"> 运维 </span>
            <small class="text-muted">负责人: 祖天彪</small>
            <a href="#" class="product-name"> 网络探测系统</a>
            <div class="m-t text-righ">
             <a href="/web/network_detect" target="_blank" class="btn btn-xs btn-outline btn-primary">Enter <i class="fa fa-long-arrow-right"></i> </a>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3">
         <div class="ibox">
          <div class="ibox-content product-box">
           <div class="product-imitation padding-50">
             <i class="icon-cloud icon-6x green"></i>
           </div>
           <div class="product-desc">
            <span class="product-price"> 运维 </span>
            <small class="text-muted">负责人: 祖天彪</small>
            <a href="#" class="product-name"> 资产管理系统</a>
            <div class="m-t text-righ">
             <a href="/web/asset_manage" target="_blank" class="btn btn-xs btn-outline btn-primary">Enter <i class="fa fa-long-arrow-right"></i> </a>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3">
         <div class="ibox">
          <div class="ibox-content product-box">
           <div class="product-imitation padding-50">
             <i class="icon-cogs icon-6x green"></i>
           </div>
           <div class="product-desc">
            <span class="product-price"> 运维 </span>
            <small class="text-muted">负责人: 祖天彪</small>
            <a href="#" class="product-name"> 配置管理系统</a>
            <div class="m-t text-righ">
             <a href="/web/configure_manage" target="_blank" class="btn btn-xs btn-outline btn-primary">Enter <i class="fa fa-long-arrow-right"></i> </a>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3">
         <div class="ibox">
          <div class="ibox-content product-box">
           <div class="product-imitation padding-50">
             <i class="icon-th-large icon-6x green"></i>
           </div>
           <div class="product-desc">
            <span class="product-price"> 运维 </span>
            <small class="text-muted">负责人: 祖天彪</small>
            <a href="#" class="product-name"> 业务管理系统</a>
            <div class="m-t text-righ">
             <a href="/web/bussiness_manage" target="_blank" class="btn btn-xs btn-outline btn-primary">Enter <i class="fa fa-long-arrow-right"></i> </a>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3">
         <div class="ibox">
          <div class="ibox-content product-box">
           <div class="product-imitation padding-50">
             <i class="icon-magic icon-6x green"></i>
           </div>
           <div class="product-desc">
            <span class="product-price"> 运维 </span>
            <small class="text-muted">负责人: 祖天彪</small>
            <a href="#" class="product-name"> 报警中心</a>
            <div class="m-t text-righ">
             <a href="/web/alarm_manage" target="_blank" class="btn btn-xs btn-outline btn-primary">Enter <i class="fa fa-long-arrow-right"></i> </a>
            </div>
           </div>
          </div>
         </div>
        </div>

      </div>
{% endblock %}
{% block WEB_SCRIPTS %}
    {% include "js.html" %}
{% endblock %}