.gray-bg {
  background-color: #f3f3f4;
}
.width-300 {
  width: 300px;
}
.input-green:focus {
  border-color: #1ab394 !important;
}
.btn-green {
  background-color: #1ab394;
  border-color: #1ab394;
  color: #FFFFFF;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active {
  background-color: #179d82;
  border-color: #179d82;
  color: #FFFFFF;
}
.btn-white {
  background: white;
  border: 1px solid #e7eaec;
}
.btn-white:hover {
  background: white;
  border: 1px solid #d2d2d2;
}
.p-gray {
  color: #676a6c;
}
.padding-100-20{
    padding: 100px 20px 20px 20px;
}
.maxwidth-460 {
    max-width: 460px;
}
.border-up-down {
    border-style: solid solid none;
    border-color: #e7eaec;
    padding: 15px 20px 20px 20px;
    border-width: 1px 0;
}
.padding-top-40 {
    padding-top:40px;
}

