.padding-5 {
    padding-left:0px;
    padding-right:10px;
    padding-bottom:15px;
}
.padding-top-7 {
    padding-top:7px;
}
li {
    display: block !important;
}
.ui-state-highlight { height: 3em; line-height: 1.2em; }
