  <div id="wrapper">
   <nav class="navbar-default navbar-static-side" style="background-color: #2f4050;" role="navigation">
    <div class="sidebar-collapse">
     <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
       <div class="dropdown profile-element">
        <span> <img alt="image" class="img-circle" src="//placehold.it/50x50" /> </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ USER }}</strong> </span> <span class="text-muted text-xs block">工程师 <b class="caret"></b></span> </span> </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
         <li><a href="/web/reset/">重置密码</a></li>
         <li class="divider"></li>
         <li><a href="/web/logout/">Logout</a></li>
        </ul>
       </div>
       <div class="logo-element">
         Baize
       </div> </li>
      <li> <a href="/web/index/"> <i class="fa fa-th-large"></i> <span class="nav-label">主页 </span></a></li>
      <li class="active"> <a class="navbar-option" option="/web/work_manage/"> <i class="fa fa-cogs"></i> <span class="nav-label">作业管理 </span></a></li>
      <li> <a class="navbar-option" option="/web/task_manage/"><i class="fa fa-magic"></i> <span class="nav-label">任务管理 </span></a> </li>
      <li class="landing_link"> <a class="navbar-option" option="landing.html"><i class="fa fa-question-circle"></i> <span class="nav-label">帮助</span><span class="label label-warning pull-right">NEW</span></a> </li>
      <li class="special_link"> <a class="navbar-option" option="package.html"><i class="fa fa-database"></i> <span class="nav-label">官网</span></a> </li>
     </ul>
    </div>
   </nav>
   <div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row border-bottom">
     <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
       <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
       <form role="search" class="navbar-form-custom" action="search_results.html">
        <div class="form-group">
         <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search" />
        </div>
       </form>
      </div>
      <ul class="nav navbar-top-links navbar-right">
       <li> <span class="m-r-sm text-muted welcome-message">Welcome to Baize.</span> </li>
       <li class="dropdown"> <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#"> <i class="fa fa-envelope"></i> <span class="label label-warning">16</span> </a>
        <ul class="dropdown-menu dropdown-messages">
         <li>
          <div class="dropdown-messages-box">
           <a href="profile.html" class="pull-left"> <img alt="image" class="img-circle" src="//placehold.it/50x50" /> </a>
           <div class="media-body">
            <small class="pull-right">46h ago</small>
            <strong>Mike Loreipsum</strong> started following
            <strong>Monica Smith</strong>.
            <br />
            <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
           </div>
          </div> </li>
        </ul> </li>
       <li class="dropdown"> <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#"> <i class="fa fa-bell"></i> <span class="label label-primary">8</span> </a>
        <ul class="dropdown-menu dropdown-alerts">
         <li> <a href="mailbox.html">
           <div>
            <i class="fa fa-envelope fa-fw"></i> You have 16 messages
            <span class="pull-right text-muted small">4 minutes ago</span>
           </div> </a> </li>
         <li class="divider"></li>
         <li> <a href="profile.html">
           <div>
            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
            <span class="pull-right text-muted small">12 minutes ago</span>
           </div> </a> </li>
         <li class="divider"></li>
         <li> <a href="grid_options.html">
           <div>
            <i class="fa fa-upload fa-fw"></i> Server Rebooted
            <span class="pull-right text-muted small">4 minutes ago</span>
           </div> </a> </li>
         <li class="divider"></li>
         <li>
          <div class="text-center link-block">
           <a href="notifications.html"> <strong>See All Alerts</strong> <i class="fa fa-angle-right"></i> </a>
          </div> </li>
        </ul> </li>
       <li> <a href="/web/logout/"> <i class="fa fa-sign-out"></i> Log out </a> </li>
      </ul>
     </nav>
    </div>
    <div id="main-content">