{% extends "base.html" %}
{% block WEB_CSS %}
    {% include "css.html" %}
    <link href="/static/default/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/static/default/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
    <link href="/static/APP_web/APP_alarm_manage/css/alarm/add.css" rel="stylesheet">
{% endblock %}
{% block WEB_MAIN %}
    <div class="panel-body">
       <div class="ibox float-e-margins">
        <div class="ibox-title">
         <h5>编辑报警器 <small></small> </h5>
         <div class="ibox-tools">
          <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
          <a class="close-link"> <i class="fa fa-times"></i> </a>
         </div>
        </div>
        <div class="ibox-content">
          <div class="raw">
            <form role="form" id="form-alarm-manage">
             <div class="ibox float-e-margins">
               <div class="ibox-title">
                <h5>基本信息 <small></small> </h5>
                <div class="ibox-tools">
                 <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
                 <a class="close-link"> <i class="fa fa-times"></i> </a>
                </div>
               </div>
               <div class="ibox-content">
                 <div class="col-lg-6 col-md-6 col-sm-6">
                     <div class="form-group" style="display: none" id="div_alarm_id">
                      <label><span class="red-content">* </span>ID</label>
                      <input type="text" placeholder="ID" class="form-control" name="alarm_id" id="alarm_id" disabled/>
                     </div>
                     <div class="form-group">
                      <label><span class="red-content">* </span>中文名称</label>
                      <input type="text" placeholder="必须包含中文" class="form-control" name="alarm_name_cn" id="alarm_name_cn"/>
                     </div>
                     <div class="form-group">
                      <label><span class="red-content">* </span>英文名称</label>
                      <input type="text" placeholder="只允许出现大写字母、小写字母、下划线，必须字母开头" class="form-control" name="alarm_name_en" id="alarm_name_en"/>
                     </div>
                     <div class="form-group" style="display: block" id="div_select_alarm_method">
                         <select class="chosen-select-inner" tabindex="2" id="select_alarm_method">
                             <option value=""> 请选择报警方式</option>
                             <option value="2"> 短信与邮件</option>
                             <option value="0"> 仅短信</option>
                             <option value="1"> 仅邮件</option>
                         </select>
                     </div>
                 </div>
                 <div class="col-lg-6 col-md-6 col-sm-6">
                     <div class="form-group">
                         <label><span class="red-content">* </span>描述</label>
                         <div class="alert-info"><div class="summernote" id="alarm_desc"></div></div>
                     </div>
                 </div>
                 <div class="form-group text-right">
                     <a class="btn btn-warning" id="btn_alarm_do_save" type="button" onclick="save_alarm()">保存</a>
                 </div>
               </div>
             </div>
             <div class="form-group">
               <div class="ibox float-e-margins no-borders">
                     <div class="ibox-title">
                       <h5>报警人 <small></small> </h5>
                       <div class="ibox-tools">
                        <a id="btn_add_alarm_person" class="btn btn-primary btn-xs" onclick="show_alarm_person_add(true)">添加</a>
                        <a class="collapse-link-inner"> <i class="fa fa-chevron-up"> </i> </a>
                       </div>
                     </div>
                    <div class="ibox-content">
                      <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12"  id="div_alarm_manage_alarm_person">
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12" style="display: none" id="div_add_alarm_person">
                              <div class="row well" id="form_alarm_person" enctype="multipart/form-data" method="post">
                                  <div class="form-group" style="display: block" id="div_select_alarm_person">
                                      <select class="chosen-select-inner" tabindex="2" id="select_alarm_person">
                                          <option value=""> 请选择添加的报警人</option>
                                      {% for l_a_p in LIST_ALARM_PERSON %}
                                          <option value="{{ l_a_p.id }}"> {{ l_a_p.name }}</option>
                                      {% endfor %}
                                      </select>
                                  </div>
                                  <button type="button" class="btn btn-primary" onclick="add_alarm_person()">添加</button>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
             </div>

             <div class="form-group">
               <div class="ibox float-e-margins no-borders">
                     <div class="ibox-title">
                       <h5>消息模板 <small></small> </h5>
                       <div class="ibox-tools">
                        <a id="btn_add_alarm_template" class="btn btn-primary btn-xs" onclick="show_alarm_template_add(true)">添加</a>
                        <a class="collapse-link-inner"> <i class="fa fa-chevron-up"> </i> </a>
                       </div>
                     </div>
                    <div class="ibox-content">
                      <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12"  id="div_alarm_manage_alarm_template">
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12" style="display: none" id="div_add_alarm_template">
                              <div class="row well" id="form_alarm_template" enctype="multipart/form-data" method="post">
                                  <div class="form-group" style="display: block" id="div_select_alarm_template">
                                      <div class="col-lg-6 col-md-6 col-sm-6">
                                          <div class="form-group" style="display: none" id="div_alarm_template_id">
                                           <label><span class="red-content">* </span>ID</label>
                                           <input type="text" placeholder="ID" class="form-control" name="alarm_template_id" id="alarm_template_id" disabled/>
                                          </div>
                                          <div class="form-group">
                                           <label><span class="red-content">* </span>名称</label>
                                           <input type="text" placeholder="必须包含中文" class="form-control" name="alarm_template_name" id="alarm_template_name"/>
                                          </div>
                                          <div class="form-group">
                                              <label><span class="red-content">* </span>消息合并</label>
                                              <input checked type="checkbox" class="i-checks" name="alarm_template_combine" id="alarm_template_combine" />
                                          </div>
                                          <div class="form-group">
                                            <p class="font-bold">
                                              <span class="red-content">* </span><label>合并周期</label><small> -- 同一个周期内的同类消息将被合并,单位(分钟)</small>
                                            </p>
                                            <input class="touchspin1" type="text" value="5" name="alarm_template_combine_period" id="alarm_template_combine_period">
                                          </div>
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-6">
                                          <div class="form-group">
                                              <label><span class="red-content">* </span>模板内容</label>
                                              <textarea id="alarm_template_content" name="alarm_template_content" class="form-control" placeholder="Demo: [%(hostname)s] %(date_time)s %(log_name)s: %(msg)s"></textarea>
                                          </div>
                                          <div class="form-group">
                                              <label><span class="red-content">* </span>归类标签<small> -- 归类标签配合消息合并使用,标签值相同的报警消息将被合并</small></label>
                                           <input type="text" placeholder="最多1024个字节" class="form-control" name="alarm_template_key_string" id="alarm_template_key_string"/>
                                          </div>
                                      </div>

                                  </div>
                                  <div class="col-lg-12 col-md-12 col-sm-12">
                                      <button type="button" class="btn btn-primary" onclick="add_alarm_template()">添加</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
             </div>
            </form>

          </div>
        </div>
       </div>
     </div>
{% endblock %}
{% block WEB_SCRIPTS %}
    {% include "js.html" %}
    <script src="/static/default/js/plugins/summernote/summernote.min.js"></script>
    <script src="/static/APP_web/APP_alarm_manage/js/alarm/add.js"></script>
{% endblock %}
