{% extends "base.html" %}
{% block WEB_CSS %}
    {% include "css.html" %}
    <link href="/static/APP_web/APP_alarm_manage/css/alarm/alarm.css" rel="stylesheet" />
{% endblock %}
{% block WEB_MAIN %}
    {% load format_data %}
  <div class="row wrapper border-bottom white-bg page-heading">
   <div class="col-lg-12 col-md-12 col-sm-12">
    <h2>报警中心</h2>
    <ol class="breadcrumb">
     <li> <a href="/web/index">主页</a> </li>
     <li class="active"> <strong>报警器</strong> </li>
    </ol>
   </div>
  </div>
  <div class="wrapper wrapper-content">
   <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
     <div class="tabs-container">
      <ul class="nav nav-tabs" id="add_alarm_nav_tabs">
       <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> 报警器查询</a></li>
      </ul>
      <div class="tab-content" id="add_alarm_tab_content">
       <div id="tab-1" class="tab-pane active">
        <div class="panel-body">
         <div class="ibox float-e-margins">
          <div class="ibox-title">
           <h5>详情</h5>
           <div class="ibox-tools">
            <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-wrench"></i> </a>
            <ul class="dropdown-menu dropdown-user">
             <li><a id="add_alarm"><i class="fa fa-plus"> 新增报警器</i></a></li>
            </ul>
            <a class="close-link"> <i class="fa fa-times"></i> </a>
           </div>
          </div>
          <div class="ibox-content">
           <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
             <div class="input-group pull-left">
              <input id="input_search_alarm" placeholder="Search" class="input-sm form-control" type="text" />
              <span class="input-group-btn"> <button id="btn_search_alarm" type="button" class="btn btn-sm btn-primary"> Go!</button> </span>
             </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
            </div>
           </div>
           <div class="row">
            <div class="table-responsive">
             <table class="table table-hover" id="editable">
              <thead>
               <tr>
                <th><input type="checkbox" class="i-checks checkall" name="input[]" /></th>
                <th>中文名 </th>
                <th>英文名</th>
                <th>报警方式</th>
                <th>开关</th>
                <th>操作</th>
               </tr>
              </thead>
              <tbody>
              {% for l_a in LIST_ALARM %}
               <tr>
                <td><input alarm_id={{ l_a.id }} type="checkbox" class="i-checks checkchild" name="input[]" /></td>
                <td>{{ l_a.name_cn }}</td>
                <td>{{ l_a.name_cn }}</td>
                <td>{{ l_a.method|format_alarm_method }}</td>
                <td>
                    <div class="switch">
                        <div class="onoffswitch">
                            <input type="checkbox" {{ l_a.switch|format_alarm_switch }} class="onoffswitch-checkbox" id="alarm_switch_{{ l_a.id }}" onchange="change_alarm_switch({{ l_a.switch|format_alarm_switch_true_or_false }},{{ l_a.id }})">
                            <label class="onoffswitch-label" for="alarm_switch_{{ l_a.id }}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-warning btn-xs" onclick="show_detail({{ l_a.id }})">编辑</button>
                    <button type="button" class="btn btn-danger btn-xs" onclick="alarm_delete(this, {{ l_a.id }})">删除</button>
                </td>
               </tr>
              {% endfor %}
              </tbody>
             </table>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
{% endblock %}
{% block WEB_SCRIPTS %}
    {% include "js.html" %}
    <script src="/static/APP_web/APP_alarm_manage/js/alarm/alarm.js"></script>
{% endblock %}
